<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ActionSheet</key>
		<string>ExampleActionSheetVC</string>
		<key>disable</key>
		<false/>
	</dict>
	<dict>
		<key>Backdrop</key>
		<string>ExampleBackdropVC</string>
		<key>disable</key>
		<true/>
	</dict>
	<dict>
		<key>Button</key>
		<string>ExampleButtonVC</string>
		<key>disable</key>
		<true/>
	</dict>
	<dict>
		<key>Checkbox</key>
		<string>ExampleCheckboxVC</string>
		<key>disable</key>
		<true/>
	</dict>
	<dict>
		<key>List</key>
		<string>ExampleListVC</string>
		<key>disable</key>
		<true/>
	</dict>
	<dict>
		<key>Marquee</key>
		<string>ExampleMarqueeVC</string>
		<key>disable</key>
		<true/>
	</dict>
	<dict>
		<key>Menu</key>
		<string>ExampleMenuVC</string>
		<key>disable</key>
		<true/>
	</dict>
	<dict>
		<key>ShareSheet</key>
		<string>ExampleShareSheetVC</string>
		<key>disable</key>
		<true/>
	</dict>
	<dict>
		<key>Slider</key>
		<string>ExampleSliderVC</string>
		<key>disable</key>
		<true/>
	</dict>
	<dict>
		<key>Tabbar</key>
		<string>ExampleTabbarVC</string>
		<key>disable</key>
		<true/>
	</dict>
	<dict>
		<key>Wrapper</key>
		<string>ExampleWrapperVC</string>
		<key>disable</key>
		<true/>
	</dict>
</array>
</plist>
