<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ActionSheet</key>
		<string>MMActionSheet</string>
	</dict>
	<dict>
		<key>Backdrop</key>
		<string>MMBackdrop</string>
	</dict>
	<dict>
		<key>Button</key>
		<string>MMButton</string>
	</dict>
	<dict>
		<key>Checkbox</key>
		<string>MMCheckbox</string>
	</dict>
	<dict>
		<key>List</key>
		<string>MMList</string>
	</dict>
	<dict>
		<key>Marquee</key>
		<string>MMMarquee</string>
	</dict>
	<dict>
		<key>Menu</key>
		<string>MMMenu</string>
	</dict>
	<dict>
		<key>ShareSheet</key>
		<string>MMShareSheet</string>
	</dict>
	<dict>
		<key>Slider</key>
		<string>MMSlider</string>
	</dict>
	<dict>
		<key>Tabbar</key>
		<string>MMTabbar</string>
	</dict>
	<dict>
		<key>Wrapper</key>
		<string>MMWrapper</string>
	</dict>
</array>
</plist>
